<!DOCTYPE html>
<html>
  <head>
    <title>BlindAuction</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Register', new_user_path %>
      <%= link_to 'Log In', sessions_new_path %>
    </nav>
    <%= yield %>
  </body>
</html>
